<div class="card">
    <h5 class="card-header card-header-color"> User Registration</h5>
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="addtab" (navChange)="tabchange()">
            <li ngbNavItem="addtab">
                <a ngbNavLink>Add User</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="addForm" (ngSubmit)="register()" style="padding-top: 18px;">
                        <div class="row mb-3">
                            <div class="form-group col-3">
                                <label>Title</label>
                                <select class="form-control" formControlName="title"    >
                                    <option value="">---Select Title---</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['title'].errors">
                                    <div *ngIf="ctrl['title'].errors['required']">
                                    Title is required!!
                                </div>
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <label>Frist Name</label>
                                <input type="text" class="form-control" formControlName="firstname" [ngClass]="{'is-invalid' : submitted && addForm.controls['firstname'].errors}">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['firstname'].errors">
                                    <div *ngIf="ctrl['firstname'].errors['required']">
                                        Frist Name is required!!
                                </div>
                                <div *ngIf="ctrl['firstname'].errors['minlength']">
                                    Frist Name Should be min 3 char long !!  
                                </div>
                                <div *ngIf="ctrl['firstname'].errors['maxlength']">
                                    Frist Name Should be max 10 char long !! 
                                </div>
                            </div>
                            </div>
                            <div class="form-group col-3">
                                <label>Last Name</label>
                                <input type="text" class="form-control" formControlName="lastname" [ngClass]="{'is-invalid' : submitted && addForm.controls['lastname'].errors}">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['lastname'].errors">
                                    <div *ngIf="ctrl['lastname'].errors['required']">
                                        Last Name is required!!
                                </div>
                                <div *ngIf="ctrl['lastname'].errors['minlength']">
                                    Last Name Should be min 3 char long !!  
                                </div>
                                <div *ngIf="ctrl['lastname'].errors['maxlength']">
                                    Last Name Should be max 10 char long !! 
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row  mb-3">
                            <div class="form-group col-4">
                                <label>Date-Of-Birth</label>
                                <input type="date" class="form-control" formControlName="dob" [ngClass]="{'is-invalid' : submitted && addForm.controls['dob'].errors}">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['dob'].errors">
                                    <div *ngIf="ctrl['dob'].errors['required']">
                                        Date-Of-Birth is required!!
                                </div>
                                <div *ngIf="ctrl['dob'].errors['pattern']">
                                    Date-Of-Birth Should be date fotmat (mm-dd-yyyy)!! 
                                </div>
                            </div>
                            </div>
                            <div class="form-group col-4">
                                <label>Email</label>
                                <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : submitted && addForm.controls['email'].errors}">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['email'].errors">
                                    <div *ngIf="ctrl['email'].errors['required']">
                                        Email is required!!
                                </div>
                                <div *ngIf="ctrl['email'].errors['email']">
                                    Email should Be in format !!  
                                </div>
                            </div>
                        </div>
                            </div>
                        <div class="row mb-3">
                            <div class="form-group col-3">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : submitted && addForm.controls['password'].errors}">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['password'].errors">
                                    <div *ngIf="ctrl['password'].errors['required']">
                                        Password is required!!
                                </div>
                                <div *ngIf="ctrl['password'].errors['minlength']">
                                    Password should Be min 6 char !!  

                                </div>
                            </div>
                            </div>
                            <div class="form-group col-3">
                                <label>ConfirmPassword</label>
                                <input type="password" class="form-control" formControlName="confirmpassword" [ngClass]="{'is-invalid' : submitted && addForm.controls['confirmpassword'].errors}">
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['confirmpassword'].errors">
                                    <div *ngIf="ctrl['confirmpassword'].errors['required']">
                                        ConfirmPassword is required!!
                                </div>
                                <div *ngIf="ctrl['confirmpassword'].errors['MustMatch']">
                                   password and  ConfirmPassword must be same!!
                            </div>
                                
                            </div>

                        </div>
                        <div class="row  mb-3">
                            <div class="form-group col form-check">
                                <input type="checkbox" class="from-check-input" formControlName="acceptTerms" [ngClass]="{'is-invalid' : submitted && addForm.controls['acceptTerms'].errors}">
                                <label for="acceptTerms" class="from-check-label">Accept Term and Condition</label>
                                <div class="invalid-feedback" *ngIf="submitted && ctrl['acceptTerms'].errors">
                                    <div *ngIf="ctrl['acceptTerms'].errors['required']">
                                    Term And Condition  is required!!
                                </div>
                            </div>

                        </div>
                        </div>
                        </div>


                        <div class="row">
                            <div class="form-group">]
                                <button type="submit" class="btn btn-success me-2">{{buttonTxT}}</button>
                                <button type="button" class="btn btn-danger" (click)="resetForm()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </li>
            <li ngbNavItem="viewtab">
                <a ngbNavLink>User List</a>
                <ng-template ngbNavContent>
                    <div class="form row" style="padding-top: 18px;">
                        <div class="form group col">
                            <table class="table table-dark table-sm">
                                <thead>

                                    <tr>
                                        <th>Title</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>DOb</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let data of users">
                                        <td>{{data.title}}</td>
                                        <td>{{data.firstname}}</td>
                                        <td>{{data.lastname}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.dob}}</td>
                                        <td>
                                            <i class="fa fa-edit" (click)="edit(data.id)" style="color: rgb(122, 247, 122);" ></i>
                                            <i class="fa fa-trash-o" (click)="delete(data.id)" style="color: rgb(245, 9, 9);"> </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"> </div>
    </div>
</div>



